html, body, #root, #root>div {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#about {
  padding-top: 50px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 50px;
  background-color: #22222e;
}

#contact {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 50px;
  margin-bottom: 50px;
}

#headerIcon {
  width: 300px;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  float: right;
}

#projects {
  padding-left: 15%;
  padding-right: 15%;
  background-color: #22222e;
  margin-top: 50px;
  padding-bottom: 50px;
}

.fullHeightStyle {
  height: 100%;
}

.headerText {
  font-family: 'JostBold';
  font-size: 60px;
  text-align: left;
  overflow-wrap: 'break-word';
}

.subHeaderText {
  font-family: 'JostRegular';
  font-size: 35px;
  text-align: left;
  overflow-wrap: break-word;
}

.sectionTitleText {
  font-family: 'JostBold';
  font-size: 45px;
  overflow-wrap: break-word;
}

.bodyText {
  font-family: 'JostRegular';
  font-size: 20px;
  overflow-wrap: break-word;
  font-weight: bold;
}

.subtitleText {
  font-family: 'JostRegular';
  font-size: 18px;
  overflow-wrap: break-word;
}

.experienceSection {
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 80px;
  padding-bottom: 50px;
}

.verticalCenter {
  display: flex;
  align-items: center;
}

.link-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.link-icon:hover {
  opacity: 0.5
}

@font-face {
  font-family:'JostRegular';
  src: local('JostRegular'), url("./fonts/Jost-Regular.ttf") format('truetype');
}

@font-face {
  font-family:'JostLight';
  src: local('JostLight'), url("./fonts/Jost-Light.ttf") format('truetype');
}

@font-face {
  font-family: 'JostBold';
  src: local('JostBold'), url("./fonts/Jost-Bold.ttf") format('truetype');
}

@media (max-width: 1400px) {
  .fullHeightStyle {
    height: 70%;
  }
}

@media (max-width: 460px) {
  .experienceSection {
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 80px;
    padding-bottom: 50px;
  }

  .fullHeightStyle {
    height: 70%;
  }
  
  .sectionTitleText {
    font-family: 'JostBold';
    font-size: 30px;
    overflow-wrap: break-word;
  }

  #about {
    padding-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 50px;
    background-color: #22222e;
  }

  #contact {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  #headerIcon {
    width: 0px;
  }
  
  #projects {
    padding-left: 5%;
    padding-right: 5%;
    background-color: #22222e;
    margin-top: 50px;
    padding-bottom: 50px;
  }
}